.image-container {
    border-radius: 50%;
    animation: borderRadiusAnimation 50s infinite;
}

.image {
    overflow: hidden;
    animation: borderRadiusAnimation 40s infinite;
    border: 3px solid white;
    max-height: 22rem;
}

.hero {
    opacity: 0;
    transition: opacity 3s ease-in-out; 
  }


  @keyframes borderRadiusAnimation {
    0% {
        border-radius: 50% 70% 70% 50%;
    }
    20% {
        border-radius: 50% 45% 35% 50%;
    }
    40% {
        border-radius: 50% 60% 50% 50%;
    }
    60% {
        border-radius: 50% 40% 30% 50%;
    }
    80% {
        border-radius: 50% 50% 40% 50%;
    }
    100% {
        border-radius: 50% 70% 70% 50%;
    }
}


.image-container {
    position: relative;
    cursor: pointer;
   
}

.tag {
    position: absolute;
    background-color: rgba(0, 0, 0, 0.8); 
    color: white; 
    padding: 5px; 
    border-radius: 5px; 
    top: -30px; 
    left: 50%; 
    transform: translateX(-50%); 
    opacity: 0; 
    transition: opacity 0.3s; 
}
  

.image-container:hover .tag {
    opacity: 1; 
}

@media(max-width:359px){
    .image {
        max-width: 17rem;
        max-height: 17rem;
    }
}


