@tailwind base;
@tailwind components;
@tailwind utilities;


.menu-btn {
    @apply relative -right-6 -top-1.5 flex justify-center items-center w-7 h-10 cursor-pointer ;
  
    transition: all .5s ease-in-out;
  
  }
  
  .menu-btn-burger{
    @apply w-7 h-1  rounded-md cursor-pointer bg-white hover:bg-[#00ffffcd];
    transition: all .5s ease-in-out;
  }
  
  .menu-btn-burger::before,
  .menu-btn-burger::after {
    @apply absolute w-7 h-1 rounded-md bg-white hover:bg-[#00ffffcd];
    content: "";
    transition: all 0.5s ease-in-out;
  }
  
  .menu-btn-burger::before{
    transform: translateY(-10px);
  }
  
  .menu-btn-burger::after{
    transform: translateY(10px);
  }
  
  .menu-btn.active .menu-btn-burger{
    background: transparent;
  }
  
  .menu-btn.active .menu-btn-burger::before {
    transform: rotate(45deg) ;
    }
    
  .menu-btn.active .menu-btn-burger::after {
    transform: rotate(-45deg) ;
    }
  
  
  .menu-btn:hover .menu-btn-burger::before, 
  .menu-btn:hover .menu-btn-burger::after{
    @apply   cursor-pointer
  }

  .sliding-menu {
    transform: translateX(-100%);
    transition: transform 0.5s ease-in-out;
  }
  
  .active .sliding-menu {
    transform: translateX(0);
  }

  .no-scroll{
    overflow: hidden;
  }

  .logo-img:hover .email-tag{
    opacity: 1;
  }

  .email-tag{
    position: absolute;
    background-color: rgba(0, 0, 0, 0.8); 
    color: white; 
    padding: 5px; 
    border-radius: 5px; 
    left: 50%; 
    transform: translateX(-50%); 
    opacity: 0; 
    transition: opacity 0.3s; 
  }