@tailwind base;
@tailwind components;
@tailwind utilities;


body{
    @apply bg-[#121212] m-0 p-0 text-gray-100
}

.shadow{
    box-shadow: 0px 0px 10px 1px #13d8d8;
}

.section {
    opacity: 0;
    transition: opacity 3s ease-in-out;
  }
  
  .visible {
    opacity: 1;
  }